
.header{
    padding: 0 !important;
    background-color: transparent !important;
    line-height: 1 !important;
    padding: 15px 0 !important;
    height: unset !important;
}

.header :global(.ant-space){
    width: 100%;
}

.header-space :global(.ant-space-item):first-child{
    width: 100%;
}

.radius{
    border-radius: 8px !important;
}