.layout{
    background-color: #000 !important;
    min-height: 100vh !important;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.no-content{
    justify-content: center;
    width: fit-content !important;
    text-align: center;
    margin: auto;
}

.no-content-phrase{
    font-weight: 500;
    color: #fff;
}

.spinner{
    margin: auto !important;
}
.spinner :global(.ant-spin-dot){
    font-size: 54px;
}
.spinner :global(.ant-spin-dot) i{
    height: 24px;
    width: 24px;
}