.card{
    border-radius: 15px !important;
    padding: 15px !important;
    border-color: #848484 !important;
}

.card > :global(.ant-card-body){
    padding: 0;
}

.card span, .card a{
    font-size: 16px;
    font-weight: 400;
}

.card-header{
    width: 100%;
    justify-content: space-between;
    line-height: 1;
}

.card-header :global(.anticon-holder){
    cursor: pointer;
}

.userLink{
    color: inherit;
}

.divider{
    padding: 0 5px;
}