.card{
    border-radius: 15px !important;
    padding: 15px !important;
    border-color: #848484 !important;
}

.card > :global(.ant-card-body){
    padding: 0;
}

.card span, .card a{
    font-size: 16px;
    font-weight: 400;
}

.card-dragged{
    box-shadow: 0px 0px 20px 0px rgba(85,94,189,1);
}

.card-title{
    word-wrap: break-word;
    word-break: break-word;
}

.card-header :global(.anticon-holder){
    cursor: pointer;
}

.userLink{
    color: inherit;
}

.divider{
    padding: 0 5px;
}